.vscode/settings.json
.vscode/launch.json
.vscode/tasks.json
C++/build/Debug/gradeCalc.o
C++/build/Debug/outDebug.exe
.vscode/launch.json
.vscode/settings.json
.vscode/launch.json
.vscode/settings.json
.vscode/settings.json
C++/build/Debug/Calculater.o
